* {
    font-family: 'News Cycle', sans-serif;
}

#root {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.form_label {
    min-width: 50px;
    display: block;
}

#btn_login {
    border-radius: 3px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

input {
    border-radius: 10px;
    border: solid 1px black;
    font-size: 1.2;
}